<div class="navbar navbar-default navbar-expand-sm bg-primary navbar-dark navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">Vruddhi Recipes</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a routerLink="/customerSignup" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			<li><a routerLink="/customerLogin" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
	</div>
</div>